.cabecalho {
    background: #262626;
    height: 125px;
    display: flex;
    border-bottom: 4px solid var(--destaque);
    div {
        align-items: center;
        width:1440px;
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        margin: 0 auto;
    }
    img {
        max-width: 180px;
    }
    nav{
        display:flex;
        gap:25px;
    }
}