@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@900&display=swap');

:root{
  --fonte: "Roboto", sans-serif;
  --fonte-botao: "Source Sans 3", sans-serif;
  --branco: #ffffff;
  --preto: #000000;
  --cinza: #e2e2e2;
}

body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--branco);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



